extends ../index

block scripts
    style(type='text/css').
        .card {
            width: 18rem !important;
        }

block content
    h1 Image Supprime:
    
    div.d-flex.flex-row
        div.card
            img.card-img-top(src=url, alt="image here")
            div.card-body
                h5.card-title=title
                p.card-text=desc