extends ../index

block scripts
    style(type='text/css').
        #main {
            height: 90vh;
        }

block content
    div#main
        h1.text-center Modification de l'article
        div.container-fluid.d-flex.align-items-center.justify-content-center
            form(method="POST" action="/images/update/" + _id)
                div.form-group
                    label Titre:
                        br
                        input.form-control(type="text" name="title" value=title)
                    br
                    label Description:
                        br
                        textarea.form-control(name="description")=description
                    br
                    label url:
                        br
                        input.form-control(name="url" required value=url)
                    br
                    input.btn.btn-primary(type="submit" value="Validé")