extends ../index

block scripts
    style(type='text/css').
        .card {
            width: 18rem !important;
            margin-bottom: 4em;
        }

block content
    h1 Images:
    a.btn.btn-success(href="/images/create") Création d'une image
    div.d-flex.flex-row.flex-wrap.justify-content-around
        each image in images
            div.card
                input(type="text", hidden, value=image._id)
                img.card-img-top(src=image.url, alt="image here")
                div.card-body
                    h5.card-title=image.title
                    p.card-text=image.description
                div.card-footer.d-flex.justify-content-around
                    a.btn.btn-primary(href="/images/show/" + image._id) Voir
                    a.btn.btn-success(href="/images/edit/" + image._id) Modifier
                    form(action="/images/delete-one/" + image._id + "?_method=DELETE" method="post")
                        button.btn.btn-danger(type="submit") Supprimer