extends ./index

block scripts
    style(type='text/css').
        div.container {
            padding: 0;
            max-width: none;
            background-image: url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg");
            background-size: cover;
            color: white;
        }
block content
    section.container
        div(style='height: 100vh')
            div
                div(style='padding-top: 3em').d-flex.flex-column
                    h1.text-center Bienvenue sur le projet de swann et quentin
                    p.text-center Projet de création d'un crud d'image
                    a(style="max-width: 10em; margin: 0 auto" href="/images").btn.btn-success Voir les images