doctype html
head
    title nodeAlbum
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
    block scripts
body
    div
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            a.navbar-brand(href="/") NodeAlbum
            button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggler-icon
            div.collapse.navbar-collapse(id="navbarNav")
                ul.navbar-nav
                    li.nav-item.active
                        a.nav-link(href="/images") Images
    div.container
        block content